<?xml version="1.0"?>
<config>
    <modules>
        <Vishwasnature_Quickdetail>
            <version>0.1.0</version>
        </Vishwasnature_Quickdetail>
    </modules>    
    <global>   
        <models>
            <quickdetail>
                <class>Vishwasnature_Quickdetail_Model</class>
                <resourceModel>quickdetail_mysql4</resourceModel>
            </quickdetail>
        </models>     
        <helpers>
            <quickdetail>
                <class>Vishwasnature_Quickdetail_Helper</class>
            </quickdetail>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <quickdetail>
                    <file>quickdetail.xml</file>
                </quickdetail>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <quickdetail translate="title" module="quickdetail">
                                            <title>Quickdetail Settings</title>
                                            <sort_order>50</sort_order>
                                        </quickdetail>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <quickdetail>
                    <file>quickdetail.xml</file>
                </quickdetail>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <quickdetail>
            <viewsettings>
                <enableview>1</enableview>
                <width>300</width>
                <height>auto</height>
                <uni_pickcolor>B393B8</uni_pickcolor>
                <background_color>FFFFFF</background_color>
            </viewsettings>
        </quickdetail>
    </default>
</config>